.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_paragraph {
    display: flex;
    align-items: center;
}

.task_icon {
    display: flex;
    align-items: center;
    justify-content: row;
    margin: 10px 25px;
    font-size: 32px;
    color: #fff;
}

.task_buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: none;
}

.task_icon_buttons {
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s all ease-in;
}

.task_icon_buttons:hover{
    transform: scale(1.3);
}
.fa-trash {
    color: red;
}

.fa-pen-square {
    color: blue;
}

.fa-save {
    color: green;
}

.paragraph {
    color: #12395d;
    font-weight: bold;
}

