.task {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.task_paragraph {
    display: flex;
    align-items: center;
    width: 100%;
}

.task_icon {
    display: flex;
    align-items: center;
    justify-content: row;
    margin: 10px 25px;
    font-size: 32px;
    color: #fff;
}

.tasks_info {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.task_name, .about_task {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid red;
    color: red;
} 

.task_name:focus, .about_task:focus {
    color: gray;
}

.task_buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: none;
}

.task_icon_buttons {
    font-size: 28px;
    cursor: pointer;
    transition: .3s all ease-in;
    color: #fff;
}

.task_name {
    color: #12395d;
    font-weight: bold;
}

.about_task {
    font-size: 14px;
    color: grey;
}

.task_buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid transparent;
    padding: 5px;
    transition: .3s all ease-in;
}

.trash_button {
    background-color: red;
}

.edit_button {
    background-color: #2D46B9;
}

.save_button {
    background-color: #57CC99;
}

.task_buttons > button:hover {
    border: 3px solid #fff;
}