
.todo_header {
    height: 20%;
    background: url(https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
  }
  