.main {
  height: 100vh;
  background-color: #455073;
  display: flex;
  align-items: center;
}

.todo_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width:50%;
  height: 75%;
  background-color: #cedef0;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.todo_inputs_section {
  margin: 20px;
  display: flex;
  align-items: center;
}

.inputs_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column; 
}

.todo_input {
  width: 100%;
  border-color: black;
  outline: none;
  padding: 10px;
  border: 3px solid #12395d;
  border-right: 0;
}

.task_name_input {
  height: 3em;
  border-bottom: transparent;
}

.about_task_input {
  min-height: 6em;
  max-height: 6em;
  max-width: 100%;
  min-width: 100%;
}

.todo_button {
  cursor: pointer;
  width: 20%;
  height: 100%;
  border: none;
  background-color: #12395d;
  color: #fff;
  transition: .5s all ease-in;
  font-size: 36px;
}

.todo_button:hover {
  border: 3px solid transparent;
  box-shadow: inset 0 0 0 85px #fff;
  color: #12395d;
}
